form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--theme1);
  border-radius: 15px;
  margin: 10px 20px;
  padding: 20px 10px;
  /* max-width: calc(100vw - 40px); */
}

legend {
  text-align: center;
  border: 2px solid var(--theme1);
  padding: 8px;
  font-family: serif;
  color: var(--theme1);
}

.inputWrapper {
  position: relative;
}

.inputIcon {
  margin: 0 9px;
  width: 17px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.inputs {
  background-color: var(--theme1-700);
  color: white;
  padding: 10px 10px 10px 40px;
  border-radius: 8px;
  border: 0;
  width: 400px;
  height: 40px;
  max-width: 90vw;
  transition: all 0.3s ease;
}

.errors {
  font-size: small;
  padding: 2px 10px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
  width: 400px;
  border-radius: 8px;

  max-width: 90vw;
}

.inputError {
  border: 1px solid red;

}

input:-webkit-autofill {
  border: 1px solid #ccc;
  background-color: black !important;
}


.inputs::placeholder {
  color: whitesmoke;
}

.inputs:focus {
  border: none;
  outline: none;
}

.inputWrapper:active {
  scale: 0.98;
}


.submit {
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
  padding: 0.5em 1.5rem;
  font-size: 1.05rem;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  max-width: 150px;
  font-weight: 600;
  background: linear-gradient(145deg, #3a3f47, var(--theme1-contrast-faded), #3a3f47);
  cursor: pointer;
}

.submit:hover {
  transform: translateY(-3px);
}

@media (max-width:768px) {
  .inputs {
    max-width: 80vw;
  }
}