.footer {
    background: var(--theme1);
    color: #f1f1f1;
    text-align: center;
    padding: 5px;
    font-size: 0.95rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
}

.footer a {
    color: #f1f1f1;
    color: var(--footer-link);
    font-size: small;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1px;
}



.footerabove {
    display: flex;
    align-items: center;

}

.social-links a {
    margin: 0 8px;
}




@media screen and (max-width:768px) {

    .footer {
        width: 100%;
        flex-direction: column;
        justify-content: unset;
        padding: 12px 0px;
        height: 100px;
    }
}

@media screen and (max-width:500px) {

    .footerabove {
        flex-direction: column;
        width: 100%;
    }
}