.alreadyLoggedIn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: candara;
}

.buttonSection {
    display: flex;
    padding: 120px 40px;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.moved-up {
    min-height: unset;
    padding: 25px 40px;
    flex-direction: row;
}

.loginheads {
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 6px 15px var(--theme1);
    /* background: linear-gradient(910deg, #3a3f47, #00bcd4, #3a3f47); */
    background: linear-gradient(145deg, #3a3f47, white, #3a3f47);
    width: 100%;
    max-width: 300px;
    height: 100px;
}

.imageIcon {
    align-self: center;
}

.loginheads a {
    padding: 5px;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.loginheads:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

@media screen and (max-width:580px) {
    form {
        margin-top: 5vh;
    }

    .loginheads {
        height: unset;
    }

    .loginheads big {
        font-size: medium;

    }

    .loginheads small {
        font-size: x-small;
    }

    .moved-up {
        flex-direction: column;
        gap: 40px;
        margin: auto;
    }

}